---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<'blog'>['data'] & { 
    href: string;
    body: string;
    date: string;
};

const { href, image, title, body, date, tags } = Astro.props;


var regex = /\/(es|en)\/$/;
var resultLang = regex.test(Astro.url.pathname);

var regex1 = /\/blog$/;
var resultBlog = regex1.test(Astro.url.pathname);

var resultBlogFinal = (resultLang || resultBlog);

var regex2 = /blog\/\d+/;
var resultBlogDigit = regex2.test(Astro.url.pathname);

var regex3 = /\/blog\/tag\//;
var resultBlogTag = regex3.test(Astro.url.pathname);

console.log('Astro.url.pathname', Astro.url.pathname );
console.log('Resultado Blog Final', resultBlogFinal);
---

<!--   ✅ Product card 1 - Starts Here 👇 -->
<div class=" bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
    <div class="rounded overflow-hidden shadow-lg">

        <a href={href}></a>
        <div class="relative">
            <a href={href}>
                <img class="w-full"
                    src={image}
                    alt={title}>
                <div
                    class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                </div>
            </a>
        </div>
        <div class="px-6 py-4">

            <a href={href}
                class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out">{title}</a>
            <p class="text-gray-500 text-sm">
                {body}
            </p>
            <ul class="flex flex-wrap gap-2 pt-4 text-sm text-sky-600 *:rounded-full *:border *:border-sky-100 *:bg-pink-200 *:px-2 *:py-0.5 dark:text-sky-300 dark:*:border-sky-500/15 dark:*:bg-sky-500/10">
                {
                    tags.map((tag) => (
                        <li>
                            {
                            resultBlogFinal
                                ? <a href={`blog/tag/${tag.toLowerCase()}`}>{tag}</a>
                                : resultBlogDigit
                                    ? <a href={`../blog/tag/${tag.toLowerCase()}`}>{tag}</a>
                                    : resultBlogTag
                                        ? <a href={`../tag/${tag.toLowerCase()}`}>{tag}</a>
                                        : <a href={`blog/tag/${tag.toLowerCase()}`}>{tag}</a>
                            }
                        </li>
                    ))
                }
            </ul>
            
        <div class="px-6 py-4 flex flex-row items-center">
            <span
                class="py-1 text-sm font-regular text-gray-900 mr-1 flex flex-row justify-between items-center">
                <svg height="13px" width="13px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                    style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <path
                                d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256 c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128 c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z">
                            </path>
                        </g>
                    </g>
                </svg>
                <span class="ml-1">{date}</span>
            </span>
        </div>
    </div>
</div>

