---
import { languages } from '../i18n/ui';
import { getLangFromUrl, getRouteFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
console.log('Lenguaje', lang);
//const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const route = getRouteFromUrl(Astro.url);
console.log('Ruta', route);

// current path
/* const currentPath =  Astro.url.pathname;
console.log('Current Path', currentPath);

const partes = currentPath.split('/');
console.log('partes', partes);

const parteBlog = partes.slice(2, -3);
console.log('parteBlog', parteBlog);

const partePost = partes.slice(4, -1);
console.log('partePost', partePost);

const actualBlog = parteBlog.join('/'); 
console.log('actualBlog', actualBlog);

const actualPost = partePost.join('/'); 
console.log('actualPost', actualPost);

const actualCompleto = actualBlog +'/'+ lang + '/' + actualPost;
console.log('actualCompleto', actualCompleto); */


function actualizarURL(lang) {
    const actual = Astro.url.pathname;
    const partes = actual.split('/');
    const parteBlog = partes.slice(2, -2).join('/');
    const partePost = partes.slice(4).join('/');
    const actualCompleto = `${parteBlog}/${lang}/${partePost}`;
    return actualCompleto;
}

// const nuevaURL = actualizarURL(lang);
// console.log('Nueva URL:', nuevaURL);
    

---


<div class="relative inline-block text-left">
    <div class="group">
        <button type="button"
            class="inline-flex justify-center items-center w-full px-4 py-2 text-sm font-medium text-white bg-gray-800 hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
            {lang}
            <!-- Dropdown arrow -->
            <svg class="w-4 h-4 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 12l-5-5h10l-5 5z" />
            </svg>
        </button>

        <!-- Dropdown menu -->
        <div class="absolute right-0 w-20 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300">
            <div class="py-1">
                {Object.entries(languages).map(([lang, label]) => (
                    <ul>
                        <li>
                            <a 
                            id="cambiaContenido"
                            href={translatePath(`/${route !== undefined && route === '/' ? route : actualizarURL(lang)}`, lang)}
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{label}
                            </a>
                        </li>
                    </ul>
                ))}
            </div>
        </div>
    </div>
</div>

<script>

</script>