---
import { languages } from '../i18n/ui';
import { getLangFromUrl, getRouteFromUrl, useTranslatedPath } from '../i18n/utils';


//const isProduction = import.meta.env.PROD;
const isDev = import.meta.env.DEV;


const lang: any = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const route = getRouteFromUrl(Astro.url);


 function actualizarURL(lang: string) {
    const urlPartes = Astro.url.href.split('/');
    const parteBlog = urlPartes.slice(4, -2).join('/');
    const partePost = urlPartes.slice(6).join('/');
    const nuevaURL = `${parteBlog}/${lang}/${partePost}`;
    return nuevaURL;
}

const nuevaURL = actualizarURL(lang);

function rutaUndefined(lang: string) {
    if(isDev) {
        if(Astro.url.pathname === `/es/${nuevaURL}` || Astro.url.pathname === `/en/${nuevaURL}`) {
            return actualizarURL(lang);
        } else {
            return '';
        }
    } else {
        // {Astro.url.pathname === `/es/${nuevaURL}` || Astro.url.pathname === `/en/${nuevaURL}`  ? 'HOLA' : ''}
        route !== undefined ? route : actualizarURL(lang);
        /* if(false) {
            return 'HOLA';
        } else {
            return '';
        } */
    }

}



//console.log('isDev', isDev ? rutaUndefined(lang) : actualizarURL(lang));



// href={translatePath(`/${route !== undefined ? route : ''}`, lang)}
---


<div class="relative inline-block text-left">
    <div class="group">
        <button type="button"
            class="inline-flex justify-center items-center w-full px-4 py-2 text-sm font-medium text-white bg-gray-800 hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
            {lang}
            <!-- Dropdown arrow -->
            <svg class="w-4 h-4 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 12l-5-5h10l-5 5z" />
            </svg>
        </button>

        <!-- Dropdown menu -->
        <div class="absolute right-0 w-20 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300">
            <div class="py-1">
                <ul>
                {Object.entries(languages).map(([lang, label]) => (
                    
                        <li>
                            <a 
                            id="cambiaContenido"
                            href={translatePath(`/${route !== undefined ? route : rutaUndefined(lang)}`, lang)}
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{label}
                            </a>
                        </li>
                    
                ))}
                </ul>
            </div>
        </div>
    </div>
</div>
