---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";
import { getCollection } from 'astro:content';

const allBlogPostsEs = await getCollection('blog', ({id}) => {
	return id.startsWith('es/')
});
---

<BaseLayout>
    <h1>Bienvenido a <span class="text-gradient">Notas</span></h1>
	{
		allBlogPostsEs.map((post) => (
			<Card 
				title={post.data.title}
				image={post.data.image}
				body={post.data.author}
				date= {post.data.publishDate.toLocaleDateString('es', {
					year: "numeric",
					month: "short",
					day: "numeric"
				})}
				href={`${post.slug}/`}
			/>
		))
	}
</BaseLayout>


<style>
	h1 {
		color: aliceblue;
	}
</style>